/* ----------- General ------------ */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Owen's Additions */
  color: white;
  background-color: #232428;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ------------- Nav ------------- */
nav {
  display: flex;
  justify-content: space-between;

  height: 80px;
  border-bottom: solid 1px;
  border-color: gray;
}

nav div {
  width: 60%;
}

nav ul {
  width: 40%;
  padding: 0;
  margin: 0;
  list-style-type: none;

  display: flex;
  flex-direction: row;
}

nav ul li {
  width: 25%;
  height: 75%;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

/* nav div:hover {
  background-color: rgb(98, 98, 98);
  transition: 0.5s;
} */

/* nav div h3 {
  margin: auto;
  vertical-align: middle;
  height: 20%;
} */

nav div h1 {
  vertical-align: middle;
  height: 40%;
  margin: auto;
}


/* ---------------- Post ---------------- */
div.post {
  margin: 20px auto;
  padding: 1.5%;
  width: 45%;
  min-width: 500px;

  border: solid 1px;
  border-color: gray;
  border-radius: 7.5px;

  display: flex;
  justify-content: space-around;
}

    div.post div {
      text-align: left;
      width: 97%;
    }

    div.post div h3 {
      margin: 0;
    }
    
    div.post:has(iframe) div p {
      margin: 10px 0 20px 0;
    }

    div.post div div.PostDate {
      color: gray;
    }

    div.post:has(iframe) div {
      /* Only applies to divs in posts w/ an Embed */
      width: 50%;
    }

    div.post iframe  {
      margin: 0;
    }