/* ----------- General ------------ */
:root {
  --backColor: #232428;
  --highlightColor: rgb(52, 125, 52);
  --borderColor: gray;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Owen's Additions */
  color: white;
  background-color: var(--backColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ------------- Nav ------------- */
nav {
  display: flex;
  justify-content: space-between;

  /* height: 80px; */
  width: 100%;

  margin-bottom: 60px;
  border-bottom: solid 1px;
  border-color: var(--borderColor);
}

nav div {
  width: 60%;
  padding: 20px 6%;
  height: 80px;
}

nav div h1 {
  height: 40px;
  width: 200px;
  
  line-height: 40px;
  margin: 0;
}


nav ul {
  width: 40%;
  height: 80px;
  padding: 0;
  margin: 0;
  list-style-type: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul li {
  width: 25%;
  min-width: 75px;
  height: 75%;
  margin: auto;

  /* border: 1px solid; */
  /* border-color: var(--backColor); */
  border-radius: 5px;

  text-align: center;
  line-height: 60px;  /* same as height (nav.height*.75=80px*.75=60px to vertically center text */
}

    nav ul li:hover {
      transition: 0.2s;
      color: gray;
    }    

    nav ul li.currentPage {
      border-color: var(--highlightColor);
      background-color: var(--highlightColor);
    }

/* --------------- Footer --------------- */
footer {
  height: 80px;
  background-color: var(--borderColor);
  display: flex;
  align-items: center;

  padding: 0 50px;
  margin-top: 60px;
}

footer a {
  margin: auto 20px;
}

footer a:first-child {
  margin-left: 10px;
}

footer a img {
  height: 42px;
  width: 42px;
}

footer a img:hover {
  filter: brightness(0%);
  transition: 0.5s;
}


/* ---------------- Post ---------------- */
div.post {
  margin: 20px auto;
  padding: 1.5%;
  width: 45%;
  min-width: 350px;

  border: solid 1px;
  border-color: var(--borderColor);
  border-radius: 7.5px;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

    div.post div {
      text-align: left;
      width: 97%;
    }

    div.post div h3 {
      margin: 0;
    }
    
    div.post:has(iframe) div p {
      margin: 10px 0 20px 0;
    }

    div.post div div.PostDate {
      color: gray;
    }

    div.post div.PostText p.PostBody {
      white-space: pre-wrap;
    } 

    div.post:has(iframe) div {
      /* Only applies to divs in posts w/ an Embed */
      width: 50%;
      padding-right: 20px;
    }

    div.post iframe  {
      margin: 0;
      margin-bottom: 20px;
    }


/* --------------- Project ---------------- */

div.ProjectList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  width: 85%;
  margin: 0 auto;
  padding: 0 25px;
}

div.project {
  width: 35%;
  min-width: 250px;

  margin: 30px 0;

  border: solid 1px;
  border-color: var(--borderColor);
  border-radius: 7.5px;

  padding: 1.5%;


  display: flex;
  flex-direction: column;
}


div.project h3 {
  margin: 0;
}

div.project div.projectSubheader {
  color: grey;
}

div.project a {
  color: grey;
  /* text-decoration-line: none; */
}

div.project div.projectTech {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.project div.projectTech div {
  background-color: var(--highlightColor);
  
  height: 30px;
  line-height: 30px;
  min-width: 50px;
  text-align: center;

  margin: 5px 10px;
  border-radius: 8px;
  padding: 3px 8px;
}

div.project p {
  white-space: pre-wrap;
}



/* ---------------------- About ----------------------- */

 div.AboutDescription {
  width: 70%;
  margin: auto;
  font-size: large;
  line-height: 30px;
 }
